<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HOME page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/a03-express/public/css/main.css" />
</head>

<body>
    <h1>Home</h1>
    <form method="POST" action="/details">
        <input type="text" name="id" placeholder="Book ID" required>
        <button> Search </button>
    </form>
    <h3> Books</h3>
    {{#each Books}}
    <ul>
        <li><a href="/details?id={{id}}">{{id}}</a></li>
    </ul>
    {{/each}}
</body>

</html>