li:hover{
    text-decoration: underline;
      cursor: pointer;
      color: red;
}

.booksList{
      line-height: 1.4;
    margin: 10px 50px;
    text-align: left;
    padding: 10px;
}

input[type="text"]{
    display: block;
    padding: 10px;
    background-color: #ccc;
}