<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/a03-express/public/css/main.css" />
</head>

<body>
    <h1><a href="/"> HOME </a></h1>
    {{#if added}}
    <h2>{{id}} add</h2>
    <form action="/add?" method="Post">
        Id: {{id}} <br>
        <input type="text" name="id" value="Id">
        <br> Title: {{title}}
        <br>
        <input type="text" name="title" value="title">
        <br> year: {{year}}
        <br>
        <input type="text" name="year" value="Year">
        <br> Author: {{author}}<br>
        <input type="text" name="author" value="Author">
        <br>
        <br>
        <input type="submit" value="Add">
    </form>
    <p>
        <a href="/delete?id={{result.id}}"> Delete</a>
    </p>
    {{else}}
    <h2>{{id}} already in the database </h2>
    {{/if}}


    <!-- <p>

        <h3>Add new Book</h3>

        <form action="/action_page.php">
            Id: {{id}} <br>
            <input type="text" name="id" value="Id">
            <br> Title: {{title}}
            <br>
            <input type="text" name="title" value="title">
            <br> year: {{year}}
            <br>
            <input type="text" name="year" value="Year">
            <br> Author: {{author}}<br>
            <input type="text" name="author" value="Author">
            <br>
            <br>
            <input type="submit" value="Add">
        </form>

        <a href="/add?"> Add</a>
    </p> -->
</body>

</html>